.fade-enter-active,
.fade-leave-active {
    transition: opacity .2s;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}

.page-enter-active,
.page-leave-active {
    transition: transform .3s ease, opacity .3s  ease;
}

.page-leave-to {
    transform: translateX(1.2rem);
    opacity: 0;
}

.page-enter-from{
    transform: translateX(1.2rem);
    opacity: 0;
}